# Emacs tmp files
*~

# OS X tmp files
*.DS_Store

# Python byte code files
*.pyc

# Fbone (askwatson-app) ignores
*.egg-info
*.log
*.pyc
*.db
*.swp
*.swo
*.zip
*.cfg
*.tox
*.mo

*.db
*.sqlite

askwatosn-app/dist
askwatson-app/build

askwatson-app/instance
askwatson-app/production.py
askwatson-app/logs
askwatson-app/uploads
askwatson-app/openid

askwatson-app/env

# other
*test.sh