{% extends "layout.html" %}

{% block sc_top %}
{% endblock %}

{% block body %}
<header>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>About Ask Watson</h2>

            <img src="/img/watson-globe.png">
            <p>Ask Watson enables you to ask something from IBM Watson. Recently IBM is releasing public services like Bluemix. This made it easier for developer to access Watson's capability.</p>
            <p><i>"A cognitive system that enables a new partnership between people and computers that enhances and scales human expertise."</i> - <a style="background-color: #fff;" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/">IBM Watson</a></p>

            <h2>About AlchemyAPI</h2>

            <img style="background-color: #fff;" src="/img/alchemyAPI.png">
            <p>Ask Watson - "How Old Am I" is using Face Detection/Recognition API provided by AlchemyAPI.<br><a style="background-color: #fff;" href="http://www.alchemyapi.com/">http://www.alchemyapi.com/</a></p>
            <p><i>"AlchemyAPI is helping pioneer a computer’s ability to understand human language and vision via an easy-to-use SaaS API. Integrate advanced text mining and computer vision functionality into your application, service, or data-processing pipeline."</i> - <a style="background-color: #fff;" href="http://www.alchemyapi.com/">AlchemyAPI</a></p>




        </div>
    </div>
</div>
</header>

<section>
<div class="container">
<div class="row">
    <div class="col-lg-12 text-center">
        <a href="/howold"><h2>Try Another Photo</h2></a>
    </div>
</div>
</div>
</section>

{% endblock %}

{% block sc_bot %}
{% endblock %}