{% extends "layout.html" %}

{% block sc_top %}
{% endblock %}

{% block body %}
<header>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <img class="img-responsive" src="http://www.washingtonpost.com/wp-srv/special/lifestyle/the-age-of-obama/img/obama-v2/obama09.jpg" alt="How old do I look">
            <h2>How old do I look?</h2>
            <span class="skills">
            Your age is {{ j["status"] }}<br>
            </span>

        </div>
    </div>
</div>
</header>

<section>
<div class="container">
<div class="row">
    <div class="col-lg-12 text-center">
        <div id="show_result"></div>
    </div>
</div>
</div>
</section>

{% endblock %}
