{% extends "layout.html" %}

{% block sc_top %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
<header>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>How old do I look?</h2>

            <!-- if image is passed -->
            {% if image %}
            <span class="skills">
            <!-- <img class="img-responsive" src="http://www.washingtonpost.com/wp-srv/special/lifestyle/the-age-of-obama/img/obama-v2/obama09.jpg" alt="How old do I look"> -->
            <img class="img-responsive" src="/images/raw/{{ image }}" alt="How old do I look">
            Image: {{ image }}<br>
            <p>
                <div id="howold_result"></div>
            </p>
            </span>

            <!-- if no image -->
            {% else %}
            <span class="skills">
            <h3>Upload your image</h3><br>

            <form method="post" action="/howold" enctype="multipart/form-data">
            <div align="center">
                <input type="file" accept="image/*;capture=camera" name="image"/>
            </div>
            <!-- Captcha -->
            <div class="g-recaptcha" data-sitekey="6LdHdQcTAAAAAPX77A-RAQ9E4IeZVo45Xxr4AnIi"></div>
                <p><input id="submit" class="btn btn-primary large" type="submit" value="HOW OLD AM I" onclick="loader()"></p>
            </form>
            <img src="/static/img/ajax-loader.gif" id="loading-indicator" style="display:none;"/>
            </span>

            {% endif %}

        </div>
    </div>
</div>
</header>

<section>
<div class="container">
<div class="row">
    <div class="col-lg-12 text-center">
        <a href="/howold"><h2>Try Another Photo</h2></a>
    </div>
</div>
</div>
</section>

{% endblock %}

{% block sc_bot %}
<script type="text/javascript" src="/js/howold_result.js"></script>
<script type="text/javascript">
    var j = {{ j | tojson | safe }}
    howold_result(j);
</script>
{% endblock %}