{% extends "layout.html" %}
{% block body %}
<!-- Index Page -->

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/Watson-Avatar.jpg" alt="">
                <div class="intro-text">
                    <span class="name">Ask Watson</span>
                    <hr class="star-light">
                    <span class="skills">
                        How old am I? Watson version
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Form Section -->
<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Ask Watson Now</h2>
                <hr class="star-primary">

                <a href="/howold"><h2>How old do I look?</h2></a>

                <br>
                <a href="/about"><h2>About</h2></a>
            </div>
        </div>

    </div>

</section>

{% endblock %}
